# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d
*.swp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temp
*.h~
*.cpp~
*.txt~
*.txt
*.gitignore~
*.gitignore

# Anjuta files
*.db
*.anjuta

# Latex files
*.bak
*.log
*.aux
*.idx
*.toc
*~

# IJE
/IJE_Manateam/*
bin

# Project Directory
.cproject
.project
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle
